body {
    height: auto;
    width: auto;
    margin: 0px;
    background-color: #f0f0f0;
    font-family: 'Open Sans';
}
/* Menu estatico */
.barraEstatica {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    box-shadow: -1px 4px 8px rgb(107, 104, 98);
/* z-index: 1; */
}
.logotipo{
    position: relative;
    /* top: -15px; */
    align-items: center;
    height: 55px;
    z-index: 3;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#pokebola{
    position: relative;
    top: 15px;
    left: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 3;
}
.pokedex{
    z-index: 100;
    position: relative;
    width: 45px;
    height: 50px;
    top: 5px;
    right: 30px;
    cursor: pointer;
}
#root{
    padding-top: 8%;
    /* margin-top: 5; */
}
.general-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  align-items: center;
}
.sub-flex-container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.imagenInicio {
  max-width: 60%;
  align-self: flex-end;
}
#textoInicio {
  align-self: flex-end;
  align-content: flex-start;
  font-family: 'Open Sans';
  font-size: 2rem;
  color: cornflowerblue;
  text-shadow: 2px 2px 5px cornflowerblue;
}
#subTextoInicio {
  text-shadow: 2px 2px 5px #d2d2d2;
  color: #d2d2d2;
}
#botonComenzar{
  padding: 1rem;
  font-family: 'Open Sans';
  border: none;
  outline: none;
  cursor: pointer;
  font-size: relative;
  margin: 2em;
  max-width: 60%;
  border-radius: 30px;
  color: white;
  background-color: cornflowerblue;
  -moz-transition:  .5s ease-in-out;
  -o-transition:  .5s ease-in-out;
  transition:  .5s ease-in-out;
  box-shadow: 5px 5px 10px cornflowerblue;
}
#botonComenzar:hover{
  background-color: #80a8f0;
  max-width: 70%;
  font-size: 1rem;
  -moz-transition:  .5s ease-in-out;
  -o-transition:  .5s ease-in-out;
  transition:  .5s ease-in-out;
  box-shadow: 5px 5px 10px cornflowerblue;
}

/*Intro comenzar */
.general-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    align-items: center;
  }
  .sub-flex-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  .imagenInicio {
    max-width: 60%;
    align-self: flex-end;
  }
  #textoInicio {
    align-self: flex-end;
    align-content: flex-start;
    font-family: 'Open Sans';
    font-size: 2rem;
    color: cornflowerblue;
    text-shadow: 2px 2px 5px cornflowerblue;
  }
  #subTextoInicio {
    text-shadow: 2px 2px 5px #d2d2d2;
    color: #d2d2d2;
  }
  #botonComenzar{
    padding: 1rem;
    font-family: 'Open Sans';
    border: none;
    outline: none;
    cursor: pointer;
    font-size: relative;
    margin: 2em;
    max-width: 60%;
    border-radius: 30px;
    color: white;
    background-color: cornflowerblue;
    -moz-transition:  .5s ease-in-out;
    -o-transition:  .5s ease-in-out;
    transition:  .5s ease-in-out;
    box-shadow: 5px 5px 10px cornflowerblue;
  }
  #botonComenzar:hover{
    background-color: #80a8f0;
    max-width: 70%;
    font-size: 1rem;
    -moz-transition:  .5s ease-in-out;
    -o-transition:  .5s ease-in-out;
    transition:  .5s ease-in-out;
    box-shadow: 5px 5px 10px cornflowerblue;
  }